@tailwind base;
@tailwind components;
@tailwind utilities;

/*
::-webkit-scrollbar {
    display:none;
}
*/
::-webkit-scrollbar {
    width: 9px;
    height: 9px;
}
::-webkit-scrollbar-thumb {
    background: #a1a2a8;
    border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover{
    background: #d4d4d4;
}
::-webkit-scrollbar-track{
    background: #000000;
    border-radius: 11px;
}
